html, body, div.image {
    height: 100%;
    margin:0;
    text-align:center;
    font-family: 'Arvo', serif;
}
div.image {
    background-size: cover;
    background-position-x:center;
    background-position-y:center;
}

body {
    position:relative;
}

div.wrapper {
    position:absolute;
    top:0;
}

/*
div {
    
    color: #252525;
    text-shadow:
        -1px -1px 0 #fff,
        1px -1px 0  #fff,
        -1px 1px 0  #fff,
        1px 1px 0   #fff;  
        
}

div {
    padding-top:16%;
}


@media (min-width: 600px) {
    body {
        font-size: 35px;
    }
}

@media (min-width: 900px) {
    body {
        font-size: 55px;
    }
}

h1 {
    font-size: 1.8em;
}
